@mixin clearfix {
  &::after {
    content: ''; // the pseudo element will not appear on the page
    display: table; // standard version
    clear: both;
  }
}
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
